{% extends 'base.html' %}
{% block content %}
  <div class="blog-list">
    <h1>Blogs</h1>
    <!-- Lista de Blogs -->
    {% for blog in blogs %}
      <div class="blog-summary">
        <h2><a href="{% url 'blog_detail' blog_id=blog.id %}">{{ blog.title }}</a></h2>
        <h3>{{ blog.subtitle }}</h3>
        <p>Publicado el {{ blog.created|date:"d/m/Y" }} por {{ blog.user.username }}</p>
      </div>
    {% empty %}
      <p>No hay blogs para mostrar.</p>
    {% endfor %}
  </div>
{% endblock %}

