{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
  <h1>Crear una nueva enfermedad</h1>
  <!-- Muestra errores del formulario si los hay -->
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  
  <!-- Formulario para crear un nuevo blog -->
  <form method="post">
    {% csrf_token %}
    <div class="form-group mb-3">
      <label for="id_title">Nombre de la enfermedad:</label>
      {{ form.name|add_class:"form-control" }}
    </div>
    <div class="form-group mb-3">
      <label for="id_content">Descripcion de enfermedad:</label>
      {{ form.description|add_class:"form-control" }}
    </div>
    <div class="form-group mb-3">
      <label for="id_subtitle">Imagen:</label>
      {{ form.image|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Publicar Enfermedad</button>
  </form>
</div>
{% endblock %}
