{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilos personalizados */
  h1{
    color: rgb(10, 10, 10); 
    text-shadow: 3px 3px 5px hsl(0, 0%, 43%);
    font-size: 40px; 
    font-weight: bold;
  }
  body{
    background-image: url('/static/media/fondo.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el cuerpo */
    background-position: center; 
  }
  .apartado p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px; /* Añadir un espacio entre el título y el párrafo */
  }
  .enfermedades-container img {
    display: block; /* Permite aplicar márgenes automáticos para centrar */
    margin: auto; /* Centra horizontalmente */
    max-width: 1000%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    margin-bottom: 20px; /* Agrega un espacio debajo de la imagen */
  }
</style>

<div class="container mt-4">
  <div class="enfermedades-container">
    <h1 class="text-center mb-4">DIABETES</h1>
        <img src="/static/media/diabetes.jpg" alt="imagen">
        <p>
            La diabetes mellitus se refiere a un grupo de enfermedades que afecta la forma en que el cuerpo utiliza la glucosa en la sangre. La glucosa es 
            una importante fuente de energía para las células que forman los músculos y tejidos. También es la principal fuente de combustible del cerebro.
            La causa principal de la diabetes varía según el tipo. Pero, independientemente del tipo de diabetes que tengas, puede provocar un exceso de 
            glucosa en la sangre. Demasiada glucosa en la sangre puede causar problemas de salud graves.
        </p> 
        <p>
            Las afecciones de diabetes crónica comprenden diabetes tipo 1 y diabetes tipo 2. Las afecciones de diabetes potencialmente reversibles incluyen 
            prediabetes y diabetes gestacional. La prediabetes ocurre cuando tus niveles de glucosa en la sangre son más elevados de lo normal. Pero esos 
            niveles de glucosa en la sangre no son tan altos como para ser denominados diabetes. La prediabetes puede convertirse en diabetes, a no ser que 
            se tomen medidas para prevenirla. La diabetes gestacional ocurre durante el embarazo, pero puede desaparecer después de que el bebé nace.
        </p>
        <p><strong>SÍNTOMAS:</strong></p>
        <p>
            Los síntomas de la diabetes dependen del nivel de glucosa sanguínea. Es posible que algunas personas no presenten síntomas, especialmente si tienen 
            prediabetes, diabetes gestacional o diabetes tipo 2. En el caso de la diabetes tipo 1, los síntomas tienden a aparecer rápido y a ser más intensos.
            Algunos de los síntomas de la diabetes tipo 1 y tipo 2 incluyen los siguientes:
        </p>
        <p>&bull; Más sed de lo habitual.</p>
        <p>&bull; Micción frecuente.</p>
        <p>&bull; Pérdida de peso involuntaria.</p>
        <p>&bull; Presencia de cetonas en la orina. Las cetonas son un producto secundario de la descomposición de músculo y grasa que ocurre cuando no hay suficiente insulina.</p>
        <p>&bull; Sensación de cansancio y debilidad.</p>
        <p>&bull; Sensación de irritabilidad u otros cambios en el estado de ánimo.</p>
        <p>&bull; Visión borrosa.</p>
        <p>&bull; Llagas que tardan en cicatrizar.</p>
        <p>&bull; Infecciones frecuentes, como en las encías, la piel o la vagina.</p>
        <p>
            Si bien la diabetes tipo 1 puede manifestarse a cualquier edad, suele ocurrir en la infancia o la adolescencia. La diabetes tipo 2, el tipo más común, también puede 
            manifestarse a cualquier edad, pero es más frecuente en personas mayores de 40 años. Sin embargo, están aumentando los casos de diabetes tipo 2 en niños.
        </p>
        <p><strong>CAUSAS:</strong></p>
        <p>
            Para comprender la diabetes, es importante entender cómo el cuerpo usa habitualmente la glucosa.
        </p>
        <p><strong>Cómo funciona la insulina</strong></p>
        <p>
            La insulina es una hormona que proviene de una glándula situada detrás y debajo del estómago (páncreas).
        </p>
        <p>&bull; El páncreas libera insulina en el torrente sanguíneo.</p>
        <p>&bull; La insulina circula y permite que el azúcar entre en las células.</p>
        <p>&bull; La insulina reduce la cantidad de azúcar presente en el torrente sanguíneo.</p>
        <p>&bull; A medida que el nivel de glucosa sanguínea baja, también lo hace la secreción de insulina del páncreas.</p>
        <p><strong>La función de la glucosa</strong></p>
        <p>
            La glucosa, un tipo de azúcar, es la principal fuente de energía de las células que forman los músculos y otros tejidos.
        </p>
        <p>&bull; La glucosa proviene de dos fuentes principales: los alimentos y el hígado.</p>
        <p>&bull; La glucosa se absorbe en el torrente sanguíneo, en donde ingresa en las células con la ayuda de la insulina.</p>
        <p>&bull; El hígado elabora y almacena glucosa.</p>
        <p>&bull; Cuando los niveles de glucosa son bajos, como cuando no has comido por un buen rato, el hígado convierte el glucógeno almacenado en glucosa. Así mantiene tu 
        nivel de glucosa dentro de un nivel normal.</p>
        <p>
            La causa exacta de la mayoría de los tipos de diabetes se desconoce. En todos los casos, la glucosa se acumula en el torrente sanguíneo. Esto se debe a que el páncreas 
            no produce suficiente insulina. Ambas clases de diabetes, tipo 1 y tipo 2, pueden causarse por una combinación de factores genéticos y ambientales. No se conoce realmente 
            cuáles son estos factores.
        </p>
        <p><strong>FACTORES DE RIESGO:</strong></p>
        <p> 
            Los factores de riesgo para la diabetes dependen del tipo de diabetes que tienes. Los antecedentes familiares pueden desempeñar un papel en todos los tipos. Los factores 
            ambientales y la geografía pueden aumentar el riesgo de padecer diabetes tipo 1. En ocasiones, a los familiares de las personas con diabetes tipo 1 se les hacen análisis 
            clínicos para comprobar la presencia de células del sistema inmunitario de la diabetes (autoanticuerpos). Si tienes estos autoanticuerpos, tendrás mayores probabilidades 
            de padecer la enfermedad. Sin embargo, no todas las personas que tienen estos autoanticuerpos llegan a tener diabetes 
        </p>
        <p>
            La raza o el origen étnico también pueden aumentar el riesgo de presentar diabetes tipo 2. Aunque no se sabe con certeza el motivo, determinadas personas, como las afroamericanas,
            las hispanas, las indígenas estadounidenses y las asiáticas americanas, corren un mayor riesgo.
        </p>
        <p>
            La prediabetes, la diabetes tipo 2 y la diabetes gestacional son más frecuentes en personas con sobrepeso u obesidad.
        </p>
        <p><strong>PREVENCIÓN:</strong></p>
        <p>
            La diabetes tipo 1 no puede prevenirse. Sin embargo, las mismas elecciones de estilo de vida saludable que ayudan a tratar la prediabetes, la diabetes tipo 2 y la diabetes gestacional 
            también pueden ayudar a prevenirla:
        </p>
        <p>
            &bull; <strong>Come alimentos saludables.</strong> Elige alimentos ricos en fibra, con bajo contenido graso y pocas calorías. Céntrate en las frutas, las verduras y los granos integrales. 
            Come variado para evitar el aburrimiento.
        </p>
        <p>
            &bull; <strong>Haz más actividad física.</strong> Haz unos 30 minutos de actividad aeróbica moderada la mayoría de los días de la semana. Intenta realizar al menos 150 minutos de actividad 
            aeróbica moderada a la semana. Por ejemplo, puedes dar un paseo diario a paso ligero. Si no puedes realizar un entrenamiento prolongado, divídelo en sesiones más cortas durante el día.
        </p>
        <p>
            &bull; <strong>Pierde el exceso de peso. </strong>Si tienes sobrepeso, bajar incluso el 7 % de tu peso corporal puede reducir el riesgo de tener diabetes. Por ejemplo, si pesas 200 libras 
            (90,7 kilogramos), perder 14 libras (6,4 kilogramos) puede reducir el riesgo de diabetes. Sin embargo, no intentes bajar de peso durante el embarazo. Consulta con tu proveedor de atención 
            médica qué cantidad de peso es saludable que aumentes durante el embarazo. Para mantener tu peso en un rango saludable, céntrate en cambios a largo plazo en los hábitos de alimentación y 
            de ejercicio. Recuerda los beneficios de perder peso, como tener un corazón más sano, más energía y una mayor autoestima. 
        </p>
        <p>
            A veces, los fármacos son una alternativa. Los fármacos orales para la diabetes, como la metformina (Glumetza, Fortamet y otros), pueden reducir el riesgo de diabetes tipo 2; sin embargo, 
            la elección de un estilo de vida saludable es importante. Si tienes prediabetes, haz que te controlen el nivel de glucosa sanguínea al menos una vez al año para comprobar que no tengas 
            diabetes tipo 2.
        </p>
  </div>
</div>
</div>
{% endblock %}