{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilos personalizados */
  h1{
    color: rgb(10, 10, 10); 
    text-shadow: 3px 3px 5px hsl(0, 0%, 43%);
    font-size: 40px; 
    font-weight: bold;
  }
  body{
    background-image: url('/static/media/fondo.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el cuerpo */
    background-position: center; 
  }
  .apartado p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px; /* Añadir un espacio entre el título y el párrafo */
  }
  .enfermedades-container img {
    display: block; /* Permite aplicar márgenes automáticos para centrar */
    margin: auto; /* Centra horizontalmente */
    max-width: 1000%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    margin-bottom: 20px; /* Agrega un espacio debajo de la imagen */
  }
</style>

<div class="container mt-4">
  <div class="enfermedades-container">
    <h1 class="text-center mb-4">EPILEPSIA</h1>
        <img src="/static/media/epilepsia.jpg" alt="imagen">
        <p>
            La epilepsia, también conocida como trastorno convulsivo, es una afección cerebral que causa convulsiones recurrentes. Hay muchos tipos de epilepsia. 
            En algunas personas, se puede identificar la causa. En otras, se desconoce la causa. La epilepsia es frecuente. Se estima que el 1,2 % de la población 
            de los Estados Unidos tiene epilepsia activa, de acuerdo con los Centros para el Control y la Prevención de Enfermedades. La epilepsia afecta a personas 
            de todos los sexos, razas, grupos étnicos y edades.
        </p> 
        <p>
            Los síntomas de las convulsiones pueden variar mucho. Algunas personas pueden perder el conocimiento durante una convulsión. Otras pueden permanecer con la
            mirada fija por algunos segundos. Y otras pueden mover repetidamente los brazos o las piernas. A estos movimientos se los conoce como convulsiones.Tener una
            sola convulsión no significa que tengas epilepsia. La epilepsia se diagnostica si se sufren, al menos, dos convulsiones no provocadas con 24 horas de diferencia. 
            Las convulsiones no provocadas no tienen una causa clara.
        </p>
        <p>
            El tratamiento con medicamentos, o en ocasiones la cirugía, puede controlar las convulsiones en la mayoría de las personas que tienen epilepsia. Algunas personas 
            necesitan tratamiento de por vida, pero, en otros casos, las convulsiones desaparecen solas. Algunos niños con epilepsia también pueden superar su afección con la 
            edad.
        </p>
        <p><strong>SÍNTOMAS:</strong></p>
        <p>
            Los síntomas de las convulsiones varían según el tipo de convulsión. Dado que la epilepsia se debe a cierta actividad en el cerebro, las convulsiones pueden afectar 
            cualquier proceso cerebral. Algunos de los síntomas de las convulsiones pueden incluir los siguientes:
        </p>
        <p>&bull; Confusión temporal.</p>
        <p>&bull; Episodios de ausencias.</p>
        <p>&bull; Rigidez muscular.</p>
        <p>&bull; Movimientos espasmódicos incontrolables de brazos y piernas.</p>
        <p>&bull; Pérdida del conocimiento.</p>
        <p>&bull; Síntomas psicológicos, como miedo, ansiedad o déjà vu.</p>
        <p>
            A veces, las personas con epilepsia pueden experimentar cambios en su conducta. También pueden tener síntomas de psicosis.La mayoría de las personas con epilepsia 
            normalmente tienen el mismo tipo de convulsión en cada episodio. Los síntomas suelen ser similares en todos los episodios.
        </p>
        <p><strong>Señales de alarma de las convulsiones</strong></p>
        <p>
            Algunas personas con convulsiones focales experimentan señales de alarma momentos antes de tener una convulsión. Estas señales se conocen como aura. Las señales de 
            alarma pueden ser una sensación en el estómago o emociones, como el miedo. Algunas personas tienen experiencias de déjà vu. Las auras también pueden ser un sabor o 
            un olor. Pueden ser visuales, como una luz fija o intermitente, un color o una figura. Algunas personas pueden tener mareos o perder el equilibrio. Otras pueden ver 
            cosas que no son reales, lo que se conoce como alucinaciones.
        </p>
        <p>
            Las convulsiones se clasifican como focales o generalizadas, según cómo y dónde comienza la actividad cerebral que las causa.Las convulsiones que aparentemente se 
            producen a causa de la actividad en una sola parte del cerebro se denominan convulsiones focales. Estas se agrupan en dos categorías:
        </p>
        <p>
            &bull; <strong>Convulsiones localizadas sin pérdida de la consciencia.</strong>Anteriormente denominadas convulsiones parciales simples, estas convulsiones no causan 
            la pérdida del conocimiento (consciencia). Pueden alterar las emociones o cambiar la manera de ver, oler, sentir, saborear o escuchar. Algunas personas tienen déjà vu. 
            Este tipo de convulsión también puede producir espasmos involuntarios de una parte del cuerpo, como un brazo o una pierna. Además, las convulsiones focales pueden ocasionar 
            síntomas sensoriales como hormigueos, mareos y destellos de luz.
        </p>
        <p>
            &bull; <strong>Convulsiones focales con pérdida del conocimiento.</strong>Anteriormente conocidas como convulsiones parciales complejas, estas convulsiones incluyen una 
            alteración o la pérdida de la conciencia. Con este tipo de convulsión, la persona puede sentir como si estuviera soñando. Durante una convulsión focal con alteración de 
            la conciencia, algunas personas miran fijamente al espacio y no responden con normalidad al entorno. También pueden hacer movimientos repetitivos, como frotarse las manos,
            masticar, tragar o caminar en círculos.
        </p>
        <p>
            Los síntomas de las convulsiones focales pueden confundirse con otras afecciones neurológicas, como la migraña, la narcolepsia o las enfermedades mentales. Se necesitan un 
            examen y pruebas rigurosos para revelar si los síntomas son a causa de la epilepsia o de otra afección. Las convulsiones focales pueden originarse en cualquier lóbulo del 
            cerebro. Algunos tipos de convulsiones focales son los siguientes:
        </p>
        <p>
            &bull; <strong>Convulsiones del lóbulo temporal.</strong> Las convulsiones del lóbulo temporal empiezan en las zonas del cerebro llamadas lóbulos temporales. Los lóbulos 
            temporales procesan las emociones y tienen un rol en la memoria a corto plazo. Las convulsiones de este tipo a menudo se presentan con un aura. El aura puede incluir una 
            emoción repentina, como miedo o alegría. También puede ser un sabor o un olor repentinos, una sensación de déjà vu o un malestar que aumenta en el estómago. Durante la 
            convulsión, las personas pueden perder la conciencia de su entorno. También pueden mirar fijamente en el espacio, chasquear los labios, tragar o masticar repetidamente, 
            o hacer movimientos con los dedos.
        </p>
        <p>
            &bull; <strong>Convulsiones del lóbulo frontal.</strong>Estas convulsiones comienzan en la parte delantera del cerebro. Es la parte que controla el movimiento. Las convulsiones 
            del lóbulo frontal hacen que la persona mueva la cabeza y los ojos hacia un lado. La persona no contesta cuando le hablan y puede reírse o gritar. Puede que extienda un brazo y 
            flexione el otro. También puede hacer movimientos repetitivos, como mecerse de adelante a atrás o pedalear como si estuviera en una bicicleta.
        </p>
        <p>
            &bull; <strong>Convulsiones del lóbulo occipital.</strong> Estas convulsiones empiezan en una zona del cerebro llamada lóbulo occipital. Este lóbulo afecta la vista y la forma 
            de ver. Las personas que tienen este tipo de convulsión pueden tener alucinaciones o perder la vista parcialmente o por completo durante las convulsiones. Estas convulsiones 
            también pueden causar parpadeo o movimientos de los ojos.
        </p>
        <p><strong>Convulsiones generalizadas</strong></p>
        <p>
            Las convulsiones que aparentemente se producen en todas las áreas del cerebro se denominan convulsiones generalizadas. Dentro de las convulsiones generalizadas, están las siguientes:
        </p>
        <p>
            &bull; <strong>Crisis de ausencia.</strong> Las crisis de ausencia, previamente conocidas como convulsiones pequeño mal, suelen ocurrir en niños. Los síntomas incluyen mirada fija 
            en el espacio con o sin movimientos corporales sutiles, como parpadeo de los ojos o chasquido de labios, y solo duran entre 5 y 10 segundos. Pueden ocurrir en grupo, con una 
            frecuencia de hasta 100 veces al día, y causar una pérdida breve del conocimiento.
        </p>
        <p>
            &bull; <strong>Convulsiones tónicas.</strong> Las convulsiones tónicas causan rigidez muscular y pueden afectar el conocimiento. Por lo general, afectan los músculos de la espalda, 
            los brazos y las piernas, y pueden provocar que la persona se caiga.
        </p>
        <p>
            &bull; <strong>Convulsiones atónicas.</strong> Las convulsiones atónicas, también conocidas como convulsiones de caída, causan la pérdida del control muscular. Debido a que afectan 
            principalmente a las piernas, pueden provocar caídas repentinas.
        </p>
        <p>
            &bull; <strong>Convulsiones clónicas. </strong> Las convulsiones clónicas se asocian con movimientos musculares repetitivos o rítmicos y espasmódicos. Generalmente afectan el cuello, 
            la cara y los brazos.
        </p>
        <p>
            &bull; <strong>Convulsiones mioclónicas.</strong> Las crisis mioclónicas generalmente aparecen como movimientos espasmódicos breves repentinos o sacudidas, y suelen afectar la parte 
            superior del cuerpo, los brazos y las piernas. 
        </p>
        <p>
            &bull; <strong>Convulsiones tónico-clónicas.</strong> Las convulsiones tónico-clónicas, que anteriormente se conocían como convulsiones gran mal, son el tipo más grave de convulsiones 
            epilépticas. Pueden causar pérdida repentina del conocimiento y rigidez, espasmos y sacudidas del cuerpo. En ocasiones, pueden causar pérdida del control de la vejiga o mordedura de la 
            lengua.
        </p>
        <p><strong>CAUSAS:</strong></p>
        <p>
            La epilepsia no tiene una causa identificable en aproximadamente la mitad de las personas que padecen la afección. En los otros casos, la afección puede deberse a diversos factores como, 
            por ejemplo, los siguientes:
        </p>
        <p>
            &bull; <strong>Influencia genética.</strong>Algunos tipos de epilepsia suelen ser hereditarios. En estos casos, es probable que haya influencia genética. Los investigadores han asociado algunos
            tipos de epilepsia a genes específicos, pero algunas personas tienen epilepsia genética que no es hereditaria. Un niño puede presentar cambios genéticos que no los heredó de los padres. En la 
            mayoría de los casos, los genes son solo una parte de la causa de la epilepsia. Algunos genes pueden hacer que una persona sea más sensible a las condiciones ambientales que desencadenan las 
            convulsiones.
        </p>
        <p>
            &bull; <strong>Traumatismo craneal. </strong> Un traumatismo craneal como consecuencia de un accidente automovilístico o de otra lesión traumática puede provocar epilepsia.
        </p>
        <p>
            &bull; <strong>Factores en el cerebro.</strong> Los tumores cerebrales pueden provocar epilepsia. La epilepsia también puede surgir por la manera en la que se forman los vasos sanguíneos en el 
            cerebro. Las personas con afecciones en los vasos sanguíneos, como malformaciones arteriovenosas y malformaciones cavernosas, pueden sufrir convulsiones. En las personas mayores de 35 años, los 
            accidentes cerebrovasculares son una de las causas principales de epilepsia.
        </p>
        <p>
            &bull; <strong>Infecciones. </strong>La meningitis, el virus de la inmunodeficiencia humana (VIH), la encefalitis viral y algunas infecciones parasitarias pueden causar epilepsia.
        </p>
        <p>
            &bull; <strong>Lesiones antes del nacimiento.</strong> Antes del nacimiento, los bebés son sensibles al daño cerebral que puede originarse por diversos factores, como una infección en la madre, 
            una mala nutrición o la falta de oxígeno. Este daño cerebral puede provocar epilepsia o parálisis cerebral.
        </p>
        <p>
            &bull; <strong>Afecciones del desarrollo.</strong> En ocasiones, la epilepsia aparece acompañada de afecciones del desarrollo. Las personas con autismo son más propensas a tener epilepsia en 
            comparación con otras personas sin autismo. Los investigadores también han descubierto que las personas con epilepsia tienen más disposición a sufrir trastorno por déficit de atención e 
            hiperactividad y otras afecciones vinculadas al desarrollo. El hecho de tener ambas afecciones puede estar relacionado con la genética.
        </p>
        <p>><strong>Desencadenantes de convulsiones</strong></p>
        <p>
            Los elementos del entorno pueden provocar convulsiones. Los desencadenantes de convulsiones no son una causa de la epilepsia, pero sí pueden provocar convulsiones en personas que ya tienen epilepsia. 
            La mayoría de las personas con epilepsia no tienen identificados los desencadenantes específicos que les provocan convulsiones cada vez que los enfrentan. Sin embargo, a menudo, pueden reconocer factores 
            que podrían provocar una convulsión. Entre los posibles desencadenantes de una convulsión, se incluyen los siguientes:
        </p>
        <p>&bull; Alcohol</p>
        <p>&bull; Ráfagas de luz</p>
        <p>&bull; Consumo de drogas ilegales</p>
        <p>&bull; Saltearse dosis de medicamentos anticonvulsivos o tomar una dosis mayor a la indicada</p>
        <p>&bull; Falta de sueño</p>
        <p>&bull; Cambios hormonales durante el ciclo menstrual</p>
        <p>&bull; Estrés</p>
        <p>&bull; Deshidratación</p>
        <p>&bull; Saltearse comidas</p>
        <p>&bull; Enfermedad</p>
        <p><strong>FACTORES DE RIESGO:</strong></p>
        <p> 
            Algunos factores pueden aumentar el riesgo de padecer epilepsia:
        </p>
        <p>
            &bull; <strong>Edad</strong>La aparición de la epilepsia es más frecuente en los niños y los 
            adultos mayores. Sin embargo, la afección puede ocurrir a cualquier edad.
        </p>
        <p>
            &bull; <strong>Antecedentes familiares.</strong> Si tienes antecedentes familiares de epilepsia, 
            es posible que presentes un mayor riesgo de padecer convulsiones.
        </p>
        <p>
            &bull; <strong>Lesiones en la cabeza.</strong> Las lesiones en la cabeza son la causa de algunos 
            casos de epilepsia. Puedes reducir el riesgo usando el cinturón de seguridad cuando sales en auto. 
            Otra medida es usar casco al andar en bicicleta o en motocicleta, al esquiar o al hacer cualquier 
            actividad que implique el riesgo de sufrir una lesión en la cabeza.
        </p>
        <p>
            &bull; <strong>Accidentes cerebrovasculares y otras enfermedades vasculares.</strong>Los accidentes 
            cerebrovasculares y otras enfermedades de los vasos sanguíneos pueden causar daño cerebral. El daño 
            cerebral puede desencadenar convulsiones y epilepsia. Para reducir el riesgo de tener estas enfermedades, 
            puedes adoptar ciertas medidas. Por ejemplo, limita el consumo de alcohol, no fumes, sigue una dieta 
            saludable y haz ejercicio con frecuencia.
        </p>
        <p>
            &bull; <strong>Demencia. </strong>La demencia puede aumentar el riesgo de padecer epilepsia en adultos 
            mayores.
        </p>
        <p>
            &bull; <strong>Infecciones cerebrales.</strong>Tu riesgo puede aumentar con infecciones como la meningitis, 
            que provoca la inflamación del cerebro o de la médula espinal.
        </p>
        <p>
            &bull; <strong>Convulsiones en la infancia.</strong>A veces, la fiebre alta en la infancia puede asociarse con 
            convulsiones. Los niños que tienen convulsiones como consecuencia de una fiebre alta no suelen padecer epilepsia. 
            El riesgo de tener epilepsia es mayor si el niño tiene una convulsión relacionada con una fiebre alta prolongada, 
            otras afecciones del sistema nervioso o antecedentes familiares de epilepsia.
        </p>
  </div>
</div>
</div>
{% endblock %}