{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilos personalizados */
  h1{
    color: rgb(10, 10, 10); 
    text-shadow: 3px 3px 5px hsl(0, 0%, 43%);
    font-size: 40px; 
    font-weight: bold;
  }
  body{
    background-image: url('/static/media/fondo.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el cuerpo */
    background-position: center; 
  }
  .apartado p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px; /* Añadir un espacio entre el título y el párrafo */
  }
  .enfermedades-container img {
    display: block; /* Permite aplicar márgenes automáticos para centrar */
    margin: auto; /* Centra horizontalmente */
    max-width: 1000%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    margin-bottom: 20px; /* Agrega un espacio debajo de la imagen */
  }
</style>

<div class="container mt-4">
  <div class="enfermedades-container">
    <h1 class="text-center mb-4">ENFERMEDAD PULMONAR OBSTRUCTIVA CRÓNICA(EPOC)</h1>
        <img src="/static/media/EPOC.jpg" alt="imagen">
        <p>
            La enfermedad pulmonar obstructiva crónica (EPOC) es una enfermedad pulmonar inflamatoria crónica que causa la obstrucción del flujo de aire 
            de los pulmones. Los síntomas incluyen dificultad para respirar, tos, producción de moco (esputo) y sibilancias. Típicamente es causado por 
            la exposición a largo plazo a gases irritantes o partículas de materia, más a menudo por el humo del cigarrillo. Las personas con enfermedad 
            pulmonar obstructiva crónica tienen un mayor riesgo de desarrollar enfermedades cardíacas, cáncer de pulmón y varias otras afecciones.
        </p> 
        <p>
            El enfisema y la bronquitis crónica son las dos afecciones más comunes que contribuyen a la enfermedad pulmonar obstructiva crónica. Estas dos 
            afecciones suelen ocurrir juntas y su gravedad puede variar entre los individuos con enfermedad pulmonar obstructiva crónica.La bronquitis 
            crónica es la inflamación del revestimiento de los bronquios, que llevan el aire hacia y desde los sacos de aire (alvéolos) de los pulmones. 
            Se caracteriza por la tos diaria y la producción de moco (esputo).El enfisema es una afección en la que los alvéolos al final de los pasajes 
            de aire más pequeños (bronquiolos) de los pulmones se destruyen como resultado de una exposición perjudicial al humo de cigarrillo y otros gases 
            y partículas irritantes.
        </p>
        <p>
            Aunque la enfermedad pulmonar obstructiva crónica es una enfermedad progresiva que empeora con el tiempo, es tratable. Con un manejo adecuado, 
            la mayoría de las personas con enfermedad pulmonar obstructiva crónica pueden lograr un buen control de los síntomas y la calidad de vida, así 
            como reducir el riesgo de otras afecciones asociadas.
        </p>
        <p><strong>SÍNTOMAS:</strong></p>
        <p>
            Los síntomas de la enfermedad pulmonar obstructiva crónica no suelen aparecer hasta que se produce un daño pulmonar significativo y suelen empeorar 
            con el tiempo, sobre todo si la exposición al tabaco continúa.
            Los signos y síntomas de la enfermedad pulmonar obstructiva crónica pueden incluir los siguientes:
        </p>
        <p>&bull; Falta de aire, especialmente durante la actividad física</p>
        <p>&bull; Sibilancia</p>
        <p>&bull; Opresión del pecho</p>
        <p>&bull; Una tos crónica que puede producir mucosidad (esputo) que puede ser clara, blanca, amarilla o verdosa</p>
        <p>&bull; Infecciones respiratorias frecuentes</p>
        <p>&bull; Falta de energía</p>
        <p>&bull; Pérdida de peso involuntaria (en etapas posteriores)</p>
        <p>&bull; Hinchazón en tobillos, pies o piernas</p>
        <p>
            También es probable que las personas con enfermedad pulmonar obstructiva crónica experimenten episodios llamados exacerbaciones, durante los cuales 
            sus síntomas empeoran en relación con la variación diaria habitual y persisten por lo menos durante varios días.
        </p>
        <p><strong>CAUSAS:</strong></p>
        <p>
            La principal causa de la EPOC en los países desarrollados es el tabaquismo. En el mundo en desarrollo, la EPOC se produce a menudo en personas expuestas 
            a los gases de la quema de combustible para cocinar y calentar en hogares mal ventilados. Solo algunos fumadores crónicos desarrollan una aparente EPOC, 
            aunque muchos fumadores con largos historiales de tabaquismo pueden desarrollar una función pulmonar reducida. Algunos fumadores desarrollan afecciones 
            pulmonares menos comunes. Pueden ser diagnosticados erróneamente como enfermos de EPOC hasta que se realice una evaluación más completa.
        </p>
        <p><strong>Cómo se ven afectados tus pulmones</strong></p>
        <p>
            El aire viaja por la tráquea y llega a los pulmones a través de dos grandes tubos (bronquios). Dentro de los pulmones, estos tubos se dividen muchas veces, 
            como las ramas de un árbol, en tubos más pequeños (bronquiolos) que terminan en grupos de sacos pequeños de aire (alvéolos).Estos sacos de aire tienen paredes 
            muy delgadas llenas de vasos sanguíneos pequeños (capilares). El oxígeno en el aire que tú inhalas pasa a estos vasos sanguíneos y entra en el torrente sanguíneo. 
            Al mismo tiempo, el dióxido de carbono, gas que es producto del desecho del metabolismo, es exhalado.Tus pulmones dependen de la elasticidad natural de los bronquios 
            y los sacos de aire para forzar la salida del aire de tu cuerpo. La EPOC hace que pierdan su elasticidad y se expandan demasiado, lo que deja algo de aire atrapado en 
            los pulmones al exhalar.
        </p>
        <p><strong>Causas de la obstrucción de las vías respiratorias</strong></p>
        <p>Las causas de la obstrucción de las vías respiratorias incluyen lo siguiente:</p>
        <p>
            &bull; <strong>Enfisema.</strong>Esta enfermedad pulmonar causa la destrucción de las frágiles paredes y fibras elásticas de los alvéolos. Las pequeñas vías respiratorias 
            se colapsan al exhalar, lo que afecta al flujo de aire que sale de los pulmones.
        </p>
        <p>
            &bull; <strong>Bronquitis crónica. </strong>Con esta afección, los bronquios se inflaman y se estrechan y los pulmones producen más moco, lo que puede bloquear aún más los 
            tubos estrechados. Desarrollas una tos crónica para tratar de despejar tus vías respiratorias.
        </p>
        <p><strong>El humo del cigarrillo y otras sustancias irritantes</strong></p>
        <p>
            En la gran mayoría de las personas con enfermedad pulmonar obstructiva crónica, el daño pulmonar que desencadena la enfermedad es consecuencia de haber fumado cigarrillos 
            durante mucho tiempo. Pero es probable que también existan otros factores implicados en el desarrollo de la enfermedad pulmonar obstructiva crónica, como la susceptibilidad 
            genética, porque no todos los fumadores la desarrollan.Otras sustancias irritantes pueden causar enfermedad pulmonar obstructiva crónica, incluidos el humo del cigarro, el 
            humo de segunda mano, el humo de la pipa, la contaminación ambiental y la exposición en el lugar de trabajo a polvo, humo o gases tóxicos.
        </p>
        <p><strong>Deficiencia de alfa-1 antitripsina</strong></p>
        <p>
            En aproximadamente el 1 % de las personas con EPOC, la enfermedad es el resultado de un trastorno genético que causa bajos niveles de una proteína llamada alfa-1 antitripsina 
            (AAt). La proteína AAt se produce en el hígado y se segrega en el torrente sanguíneo para ayudar a proteger los pulmones. La deficiencia de alfa-1 antitripsina puede causar 
            enfermedades hepáticas, pulmonares o ambas. En el caso de los adultos con EPOC relacionada a la deficiencia de AAt, las opciones de tratamiento incluyen las utilizadas para 
            las personas con tipos más comunes de EPOC. Además, algunas personas pueden ser tratadas mediante el reemplazo de la proteína AAt faltante, lo que puede prevenir un mayor daño 
            a los pulmones.
        </p>
        <p><strong>FACTORES DE RIESGO:</strong></p>
        <p> 
            Los factores de riesgo de la enfermedad pulmonar obstructiva crónica incluyen lo siguiente:
        </p>
        <p>
            &bull; <strong>Exposición al humo del tabaco.</strong>El factor de riesgo más significativo para la enfermedad pulmonar obstructiva crónica es el consumo de cigarrillos a largo 
            plazo. Cuanto más años fumes y más paquetes fumes, mayor será el riesgo. Los fumadores de pipa, los fumadores de cigarros y los fumadores de marihuana también pueden estar en riesgo, 
            así como las personas expuestas a grandes cantidades de humo de segunda mano.
        </p>
        <p>
            &bull; <strong>Personas con asma.</strong>El asma, una enfermedad inflamatoria crónica de las vías respiratorias, puede ser un factor de riesgo para desarrollar enfermedad pulmonar 
            obstructiva crónica. La combinación de asma y fumar aumenta el riesgo de enfermedad pulmonar obstructiva crónica incluso más.
        </p>
        <p>
            &bull; <strong>Exposición ocupacional a polvos y sustancias químicas.</strong> La exposición a largo plazo a los gases de sustancias químicas y al polvo en el lugar de trabajo puede 
            irritar e inflamar los pulmones.
        </p>
        <p>
            &bull; <strong>Exposición a los gases de la quema de combustible.</strong>En el mundo en desarrollo, las personas expuestas a los gases de la quema de combustible para cocinar y calentar 
            en hogares mal ventilados corren un mayor riesgo de desarrollar enfermedad pulmonar obstructiva crónica.
        </p>
        <p>
            &bull; <strong>Genética.</strong>El poco común trastorno genético de deficiencia de alfa-1-antitripsina es la causa de algunos casos de enfermedad pulmonar obstructiva crónica. Es probable 
            que otros factores genéticos hagan que ciertos fumadores sean más susceptibles a la enfermedad.
        </p>
        <p><strong>PREVENCIÓN:</strong></p>
        <p>
            A diferencia de algunas enfermedades, la enfermedad pulmonar obstructiva crónica normalmente tiene una causa clara y un camino claro de prevención, y existen maneras de frenar la progresión de 
            la enfermedad. La mayoría de los casos están directamente relacionados con el consumo de cigarrillos, y la mejor manera de prevenir la enfermedad pulmonar obstructiva crónica es no fumar nunca, 
            o dejar de fumar ahora. Si eres fumador desde hace mucho tiempo, estas simples afirmaciones podrían no parecer tan simples, especialmente si ya has tratado de dejar de fumar una, dos o muchas 
            veces antes. Aun así, sigue intentándolo. Es esencial encontrar un programa para dejar el tabaco que pueda ayudarte a abandonar el hábito para siempre. Es tu mejor oportunidad para reducir el 
            daño a tus pulmones.
        </p>
        <p>
            La exposición ocupacional a gases y polvos químicos es otro factor de riesgo para la enfermedad pulmonar obstructiva crónica. Si trabajas con este tipo de irritantes pulmonares, habla con tu 
            supervisor sobre las mejores formas de protegerse, como el uso de equipos de protección respiratoria.
        </p>
        <p>
            A continuación, te damos algunas medidas que puedes tomar para prevenir las complicaciones asociadas con la enfermedad pulmonar obstructiva crónica:
        </p>
        <p>&bull; Deja de fumar para contribuir a reducir el riesgo de tener enfermedades cardíacas y cáncer de pulmón.</p>
        <p>&bull; Aplícate la vacuna antigripal todos los años y la vacuna contra la neumonía neumocócica regularmente para reducir el riesgo o prevenir algunas infecciones.</p>
  </div><p>&bull; Habla con tu médico si te sientes triste o impotente, o si piensas que puedes estar experimentando una depresión.</p>
</div>
</div>
{% endblock %}