{% extends 'base.html' %}

{% block content %}
  <h1>Home</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae consequatur deleniti reprehenderit veniam id, animi nihil debitis ullam obcaecati? Ex sequi veniam tempora facere ut omnis eveniet! Officiis veritatis commodi dolorem rerum enim obcaecati nemo in nihil tenetur nisi repellat architecto ab deserunt illum, porro amet, pariatur quidem placeat? Distinctio vero excepturi sit perferendis, voluptate ratione eos libero cupiditate ea suscipit molestias provident autem nulla quos veniam repudiandae cum, doloremque possimus. Maiores optio, qui reiciendis cum ad beatae atque officiis deleniti voluptate fugiat quod vitae nesciunt iure, saepe minus obcaecati? Inventore totam debitis hic perferendis. Sunt ut accusamus quo beatae?</p>
{% endblock %}