{% extends 'base.html' %}

{% block content %}
<style>
  /* Estilos personalizados */
  h1{
    color: rgb(10, 10, 10); 
    text-shadow: 3px 3px 5px hsl(0, 0%, 43%);
    font-size: 40px; 
    font-weight: bold;
  }
  body{
    background-image: url('/static/media/fondo.jpg');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el cuerpo */
    background-position: center; 
  }
  .apartado p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px; /* Añadir un espacio entre el título y el párrafo */
  }
  .enfermedades-container img {
    display: block; /* Permite aplicar márgenes automáticos para centrar */
    margin: auto; /* Centra horizontalmente */
    max-width: 1000%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    margin-bottom: 20px; /* Agrega un espacio debajo de la imagen */
  }
</style>

<div class="container mt-4">
  <div class="enfermedades-container">
    <h1 class="text-center mb-4">ENFERMEDAD RENAL CRÓNICA</h1>
        <img src="/static/media/renal.jpg" alt="imagen">
        <p>
            La enfermedad renal crónica, también llamada insuficiencia renal crónica, implica una pérdida gradual de la función renal. 
            Los riñones filtran los desechos y el exceso de líquidos de la sangre, que se eliminan a través de la orina. La enfermedad 
            renal crónica avanzada puede provocar la acumulación de niveles peligrosos de líquido, electrolitos y desechos en el organismo.
            En las etapas tempranas de la enfermedad renal crónica, puede que tengas pocos signos o síntomas. Es posible que no te des cuenta 
            de que tienes una enfermedad renal hasta que la afección esté avanzada.
        </p> 
        <p>
            El tratamiento de una enfermedad renal crónica se centra en retrasar el avance del daño renal, por lo general, mediante el control 
            de la causa. Sin embargo, incluso el control de la causa podría no impedir que el daño renal progrese. La enfermedad renal crónica 
            puede avanzar hasta convertirse en una insuficiencia renal en etapa terminal, la cual es mortal si no se realizan filtraciones 
            artificiales (diálisis) o un trasplante de riñón.
        </p>
        <p><strong>SÍNTOMAS:</strong></p>
        <p>
            Los signos y síntomas de la enfermedad renal crónica se manifiestan con el paso del tiempo si el daño renal avanza lentamente. La 
            pérdida de la función renal puede provocar una acumulación de líquidos o desechos del cuerpo o problemas de electrolitos. Dependiendo 
            de su gravedad, la pérdida de la función renal puede causar lo siguiente:
        </p>
        <p>&bull; Náuseas</p>
        <p>&bull; Vómitos</p>
        <p>&bull; Pérdida de apetito</p>
        <p>&bull; Fatiga y debilidad</p>
        <p>&bull; Problemas de sueño</p>
        <p>&bull; Micción más o menos abundante</p>
        <p>&bull; Disminución de la agudeza mental</p>
        <p>&bull; Calambres musculares</p>
        <p>&bull; Hinchazón de pies y tobillos</p>
        <p>&bull; Picazón y sequedad de la piel</p>
        <p>&bull; Presón arterial alta (hipertensión) que es dificil de controlar</p>
        <p>&bull; Falta de aire, si se acumula líquido en los pulmones </p>
        <p>&bull; Dolor en el pecho, si se acumula líquido en el revestimiento del corazón</p>
        <p>
            Los signos y síntomas de la enfermedad renal a menudo no son específicos. Esto significa que también los pueden causar otras enfermedades. 
            Dado que los riñones son capaces de compensar la pérdida de función, es posible que no desarrolles signos y síntomas hasta que se haya 
            producido un daño irreversible.
        </p>
        <p><strong>CAUSAS:</strong></p>
        <p>
            La enfermedad renal crónica se manifiesta cuando una enfermedadafecta la función renal y causa que el daño renal empeore en varios meses 
            o años.Las enfermedades y afecciones que causan enfermedad renal crónica son las siguientes:
        </p>
        <p>&bull; Diabetes</p>
        <p>&bull; Presión arterial alta</p>
        <p>&bull; Enfermedad cardíaca(cardiovascular)</p>
        <p>&bull; Hábito de fumar</p>
        <p>&bull; Obesidad</p>
        <p>&bull; Ser de raza negra, indígena americano o asiático americano</p>
        <p>&bull; Antecedentes familiares de enfermedad renal</p>
        <p>&bull; Estructura renal anormal</p>
        <p>&bull; Edad avanzada</p>
        <p>&bull; El uso frecuente de medicamentos que pueden dañar los riñones
        <p><strong>COMPLICACIONES:</strong></p>
        <p>
            La enfermedad renal crónica puede afectar casi todo tu cuerpo. Las posibles complicaciones incluyen las siguientes:
        </p>
        <p>
            &bull; Retención de líquidos, que podría derivar en hinchazón en los brazos y las piernas, presión arterial alta o líquido en los pulmones 
            (edema pulmonar)
        </p>
        <p>
            &bull; Un aumento repentino en los niveles de potasio en la sangre (hipercalemia), que podría afectar la funcionalidad del corazón y puede 
            poner en riesgo la vida
        </p>
        <p>&bull; Anemia</p>
        <p>&bull; Enfermedad cardíaca</p>
        <p>&bull; Debilidad de los huesos y mayor riesgo de fracturas</p>
        <p>&bull; Disminución del deseo sexual, disfunción eréctil o reducción de la fertilidad</p>
        <p>&bull; Daño al sistema nervioso central, que puede ocasionar dificultad para concentrarse, cambios en la personalidad o convulsiones</p>
        <p>&bull; Menor respuesta inmunitaria, lo que te hace más propenso a contraer infecciones</p>
        <p>&bull; Pericarditis, que es la inflamación de la membrana sacular que envuelve el corazón (pericardio)</p>
        <p>&bull; Complicaciones del embarazo que implican riesgos para la madre y el feto en desarrollo</p>
        <p>&bull; Daño irreversible a los riñones (enfermedad renal en etapa terminal), que finalmente requiere diálisis o un trasplante de riñón para sobrevivir</p>
        </p>
        <p><strong>PREVENCIÓN:</strong></p>
        <p> Para reducir el riesgo de padecer una enfermedad renal, haz lo siguiente:</p>
        <p>
            &bull; <strong>Sigue las instrucciones de los medicamentos de venta libre: </strong> Cuando uses analgésicos de venta libre, como aspirina, ibuprofeno
            (Advil, Motrin IB, entre otros) y acetaminofén (Tylenol, entre otros), sigue las instrucciones del envase. Tomar demasiados analgésicos durante mucho 
            tiempo puede derivar en daños en el riñón.
        </p>
        <p>
            &bull; <strong>Mantén un peso saludable: </strong> Si tienes un peso saludable, mantenlo haciendo actividad física la mayoría de los días de la semana. 
            Si necesitas perder peso, habla con tu médico acerca de las estrategias para lograrlo.
        </p>
        <p>
            &bull; <strong>No Fumes: </strong> Fumar cigarrillos puede dañar tus riñones y empeorar el daño renal existente. Si eres fumador, habla con tu médico 
            acerca de las estrategias para dejar de fumar.Los grupos de apoyo, el asesoramiento y los medicamentos pueden ayudarte a dejar de fumar.
        </p>
        <p>
            &bull; <strong>Controla tus enfermedades con la ayuda de tu médico: </strong> Si padeces enfermedades o afecciones que aumentan el riesgo de una enfermedad 
            renal, evalúa con tu médico las maneras de controlarlas. Pregúntale al médico acerca de pruebas para buscar signos de daño renal.
        </p>
  </div>
</div>
</div>
{% endblock %}